body {
  margin-left:20px;
  font-size:13px;
  width:600px;
  font-family: arial, sans-serif;
  white-space:nowrap; 
}

#track_search {
    margin-bottom:20px;
}

#track_search_field {
    width: 200px
}


