body {
  margin-left: 20px;
  font-size: 13px;
  font-family: arial, sans-serif;
  white-space: nowrap; 
}

#top_tools {
  float: left;
}

#track_search {
  position: absolute;
  top: 10px;
  left: 10px;
}

#track_search_field {
    width: 220px;
    margin-right: 5px;
}

#track_search_btn {
  width: 50px;
}



